extends ../../layouts/default


//- INCLUDES
include ../../mixins/post
include ../../mixins/meetup-talk
include ../../mixins/advertisement

//- INTRO
block intro

	//- HERO
	if !meetup
		h2.text-center You've just deployed a new site! Go add some data :)
//- BODY
block content
	.page-content
		article
			#react-home-carousel
				p loading
		
		// latest posts
		article
			.row
				each post in data.posts
					.col-xs-12.col-sm-6
						.card
							.tile.front
								.card-main
									a(href='/article/post/' + post.slug, itemprop='url')
										.card-image
										section.card-body
											p.datestamp
												time(datetime=post._.publishedDate.format('YYYY-MM-DD'), itemprop='datePublished')=post._.publishedDate.format('MMMM D, YYYY')
											p.card-tags
												each category in post.categories
													span= category.name
											h2.card-heading= post.title
								section.chart
									.rating-bar-1.rating-small
									.rating-bar-2.rating-large
								footer.card-footer
									ul.card-links
										li
											a(href='#') Preview
										li
											a(href='#') Download
block content-side
	.email-subscribe-form-wrapper
		form(action="")
			input(type="text" name="name" placeholder="Name (required)" required)
			input(type="email" name="email" placeholder="Email (required)" required)
			button.subscribe-button(type="submit") Subscribe
	.donation-form-wrapper
		p Our donation will go to work for promoting veganism
		form(action="")
			button.donate-button(type="submit") Donate

//- JS
block js

	if user
		script.
			VegsocHK.user = !{JSON.stringify(user)};

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
	link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css")
	if google_api_key
		script(src!='https://maps.googleapis.com/maps/api/js?key=' + google_api_key + '&sensor=false&libraries=places')
