extends ../../layouts/default

block content
	.post-container
		.row.post-header
			.intro
				h1.title= post.title
				.byline
					h2.broad-topic
						if post.categories && post.categories.length
							each cat in post.categories
								a.category-link(href='/article/' + cat.key)
									= cat.name
					span.date
						if post.publishedDate
							= post._.publishedDate.format('MMMM D, YYYY')
					if post.author
						span.writer
							| by
							a= post.author.name.full

			figure.post-image-wrapper
				.post-image.mv-3: img(src=post.image.secure_url).img-responsive.img-thumbnail
		.row.post-content
			.col-md-2.col-sm-2
				.left-sidebar
			.col-md-7.col-sm-10
				.post
					article.full-post
						header
							if post.state != 'published' && user.isAdmin
								.mt-1: .alert.alert-danger This Post has not been published yet.
									a(href='/keystone/posts/' + post.id).alert-link Open Keystone
									|  to publish it.

						!= post.content.full

						//- Comment
							.comments
								h4.mb-1=post.comments.length == 0 ? 'Be the first to reply' : plural(post.comments.length, '* comment', '* comments')
								for comment in post.comments
									if comment.author
										.comment.media
											.pull-left
												img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=comment.author.name.full, width=40, height=40).media-object.img-circle
											.media-body
												h6.mt-0
													=comment.author.name.full
													span.text-muted  &middot; #{moment(comment.publishedOn).fromNow()}
												!=comment.content.html
							if user
								//- Reply form
								form(method='post').comment-form.mt-5
									input(type='hidden', name='action', value='create-comment')
									.media
										.pull-left
											img(src=user.photo.exists ? user._.photo.thumbnail(60,60) : '/images/placeholders/user-60x60.jpg', alt=user.name.full, width=40, height=40).img-responsive.img-circle
										.media-body
											textarea(placeholder='Add your comment...', name='content').form-control
											.mv-1
												button(type='submit').btn.btn-success Submit
			.col-md-3.visible-lg.visible-md.text-success
				.right-sidebar
					.latest-post-container
						.latest-post-card
							h4.latest-post-header
								| Latest Articles
							ul.article-list
								each post in data.latestPosts
									li
										a(href='/article/post/' + post.slug, itemprop='url')
											.row
												.col-xs-4.latest-post-thumnail-wrapper
													img(src=post._.image.thumbnail(100, 100, {crop: 'fill'}))
												.col-xs-8
													span.latest-post-category
														= post.categories[0].name
													h5.latest-post-title
														= post.title
													time(datetime=post._.publishedDate.format('YYYY-MM-DD'), itemprop='datePublished')=post._.publishedDate.format('MMMM D, YYYY')
block js
	script(src='/js/views/post.js')
	//- script(src='/js/common/share.js')
	//- script(src="https://apis.google.com/js/plusone.js")
